.DS_Store
__pycache__/
*.py[cod]
*.so
*.dylib
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
coverage.xml
dist/
build/
*.egg-info/
.venv/
venv/
.env
results-FINAL

.ipynb_checkpoints/

assets/**
!assets/.gitignore
wandb/

**/.cache/
**/cache/
**/hf_cache/

__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv

sources
.idea
.pycacheprefix